@import url(normalize.css);
@import url(skeleton.css);
/*  Background Color and Gradient*/
html {
  height: 100%; }

body {
  height: 100%;
  color: white;
  background: #070067;
  background: -webkit-linear-gradient(109deg, #070067 0%, #293c92 100%) white;
  background: -moz-linear-gradient(109deg, #070067 0%, #293c92 100%) white;
  background: -o-linear-gradient(109deg, #070067 0%, #293c92 100%) white;
  background: -ms-linear-gradient(109deg, #070067 0%, #293c92 100%) white;
  background: linear-gradient(341deg, #070067 0%, #293c92 100%) white; }

.header-row {
  width: 100%;
  margin: 0 0 2rem;
  padding: 0;
  clear: both;
  background-color: #0E1E4D; }

.header-row h1 {
  margin: 0;
  padding: .2em 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  font-size: 1.8em;
  font-weight: 100;
  line-height: 1.5;
  color: white;
  white-space: nowrap; }
  .header-row h1 em.clean-underline {
    text-shadow: 3px 0 #0E1E4D, 1px 0 #0E1E4D, -1px 0 #0E1E4D, -2px 0 #0E1E4D; }

legend {
  font-size: 1.4em;
  line-height: 1.4em;
  font-weight: 200;
  letter-spacing: 1px;
  word-spacing: 1px; }

button.button-primary {
  background: #1C3C9B;
  border: none; }
  button.button-primary:hover, button.button-primary:active {
    background: #244dc6;
    border: none; }

/*  A Cleaner Underline
  -- based on  http://www.acusti.ca/blog/2014/11/28/towards-a-more-perfect-link-underline
*/
.clean-underline {
  color: #fff;
  text-decoration: none;
  background: -webkit-linear-gradient(top, transparent 49%, #858585 50%) repeat-x;
  background: linear-gradient(to bottom, transparent 49%, #858585 50%) repeat-x;
  background-size: 1px 1px;
  background-position: 0 95%;
  text-shadow: 3px 0 #293c92, 1px 0 #293c92, -1px 0 #293c92, -2px 0 #293c92; }
